.Content{
    top: 35%;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.Content div{
    margin: 20px;
}

.aboutMeText{
    text-align: center;
}

.aboutMeText h1{
    margin-top: 50px;
    margin-bottom: 20px;
}

.aboutMeText h3{
    margin-bottom: 30px;
}

.aboutMeText h2{
    margin-bottom: 10px;
}

h1, h2, h3, h4{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgb(241, 93, 185);
}

.ContentImg{
    border-radius: 100%;
    border: 8px solid;
    border-color: rgb(178, 95, 255);
    box-shadow: 0 0 20px rgb(207, 136, 255);

    transition: transform 1s ease-in-out;
}

.ContentImg:hover{
    transform: rotateY(360deg);
}

